
body{
    background-color: rgba(181, 223, 231, 0.13);
}
/* single phone col design */
.card{
    border: none;
    padding: 8px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* background-color: rgba(236, 242, 243, 0.22); */
}
#spinner{
    display: none;
}
.error{
    background-color: rgb(245, 236, 236);
    padding: 15px;
   display: none;
}