/* single phone col design */
.card{
    border: none;
    padding: 8px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#spinner{
    display: none;
}
#error{
    background-color: rgb(245, 236, 236);
    padding: 15px;
   display: none;
}